/*
 *  Document   : main.css
 *  Author     : pixelcave
 *  Description: The main stylesheet of the template
 *
 *  Structure (with shortcodes):
 *      (#m01mls) MAIN LAYOUT
 *      (#m02hds) HEADER
 *      (#m03mcs) MAIN CONTENT
 *      (#m04bos) BOOTSTRAP OVERWRITE/EXTEND STYLES
 *      (#m05hes) HELPERS
 *      (#m06ths) THEMES
 *      (#m07res) RESPONSIVE
 */

/*
=================================================================
(#m01mls) MAIN LAYOUT
=================================================================
*/

/* Include Lato font from Google Web Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400italic,500,500italic,600,600italic,700,700italic');

body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #202020;
    background-color: #202020;
}

#page-container {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
}

#page-container.boxed {
    max-width: 1260px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

/*
=================================================================
(#m02hds) HEADER
=================================================================
*/

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    min-width: 320px;
    color: #ffffff;
    z-index: 1000;
    background: rgba(255, 255, 255, .05);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    -webkit-transition: padding .12s ease-out, background .6s ease-out;
    transition: padding .12s ease-out, background .6s ease-out;
}

header.header-scroll {
    padding: 0;
    background-color: #ff0000;
    border-bottom-width: 0;
}

/* Logo */
a.site-logo {
    display: block;
    float: left;
    color: #ffffff;
    font-size: 20px;
    height: 42px;
    line-height: 42px;
}

a.site-logo:hover {
    color: #ffffff;
    text-decoration: none;
}

a.site-logo > i {
    font-size: 18px;
    opacity: .5;
}

/* Menu */
header nav {
    float: right;
}

.site-nav {
    position: fixed;
    top: 0;
    left: -220px;
    bottom: 0;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 42px 0 0;
    width: 220px;
    z-index: 1001;
    background: rgba(40, 45, 51, 1);
    -webkit-transition: -webkit-transform ease-out .3s;
    transition: transform ease-out .3s;
}

.site-nav.site-nav-visible {
    -webkit-transform: translateX(220px);
    transform: translateX(220px);
}

.site-nav a {
    display: block;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    padding: 0 20px;
    height: 42px;
    line-height: 42px;
}

.site-nav a.featured {
    background: #ff0000;
}

.site-nav a:hover,
.site-nav a.featured:hover,
.site-nav a:focus,
.site-nav a.featured:focus {
    color: #454e59;
    background: rgba(255, 255, 255, .75);
    text-decoration: none;
}

.site-nav a.active,
.site-nav li.active > a,
.site-nav li:hover a.site-nav-sub {
    color: #ffffff;
    background: rgba(0, 0, 0, .25);
}

.site-nav i {
    font-size: 14px;
}

.site-menu-toggle {
    margin: 5px 0 !important;
}

.site-nav .site-nav-arrow {
    float: right;
    line-height: 34px;
    margin-left: 10px;
}

/* Submenu */
.site-nav ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 20px;
}

.site-nav ul a {
    color: rgba(255, 255, 255, .75);
    height: auto;
    line-height: normal;
    font-weight: normal;
    font-size: 13px;
    padding: 7px 10px;
}

/*
=================================================================
(#m03mcs) MAIN CONTENT
=================================================================
*/

/* Main Structure */
.site-section {
    padding: 50px 0;
}

.site-section-mini {
    padding: 20px 0;
}

.site-block {
    margin-bottom: 49px;
}

.site-section-mini .site-block {
    margin-bottom: 19px;
}

.site-heading {
    margin: 0 0 29px;
    font-family: "Bodoni MT" ;
}

.site-content {
    background-color: #ffffff;
    padding-bottom: 1px;
}

.site-section-top {
    padding-top: 124px;
    overflow: hidden;
}

.site-section-light {
    color: #ffffff;
}

.site-promo-img {
    max-width: 768px;
    margin: 0 auto -60px;
    overflow: hidden;
}

.site-promo-img img {
    max-width: 100%;
    border: 10px solid rgba(0, 0, 0, .2);
}

/* Media Container */
.media-container {
    position: relative;
    height: 280px;
    overflow: hidden;
}

.media-container > .site-section {
    min-height: 280px;
}

.media-container > .site-section,
.media-container > .media-map,
.media-container > .media-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.media-container > .media-image {
    min-width: 100%;
    min-height: 280px;
}

#page-container.boxed .media-container > .media-image {
    left: 50%;
    width: 1260px;
    height: 280px;
    min-width: 0;
    min-height: 0;
    margin-left: -630px;
}

.media-container > .site-section {
    z-index: 200;
    background: rgba(0, 0, 0, .4);
}

/* Footer */
.site-footer {
    color: #cccccc;
    padding-top: 11px;
    padding-bottom: 40px;
    background-color: #252525;
}

.footer-heading {
    color: #eeeeee;
    font-size: 18px;
    font-weight: 600;
    margin: 29px 0 20px;
}

.footer-nav a {
    color: #ffffff;
    opacity: .5;
}

.footer-nav a:hover,
.footer-nav a:focus {
    color: #ffffff;
    opacity: 1;
    text-decoration: none;
}

.footer-nav-links a {
    display: block;
    padding: 0 7px;
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .5);
}

.footer-nav-links a:hover,
.footer-nav-links a:focus {
    color: #ffffff;
    background-color: #ff0000;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
}

.footer-nav-links a.social-twitter:hover,
.footer-nav-links a.social-twitter:focus {
    background-color: #55acee;
}

.footer-nav-links a.social-facebook:hover,
.footer-nav-links a.social-facebook:focus {
    background-color: #3b5998;
}

.footer-nav-links a.social-google-plus:hover,
.footer-nav-links a.social-google-plus:focus {
    background-color: #dd4b39;
}

.footer-nav-links a.social-dribbble:hover,
.footer-nav-links a.social-dribbble:focus {
    background-color: #ea4c89;
}

.footer-nav-links a.social-youtube:hover,
.footer-nav-links a.social-youtube:focus {
    background-color: #b31217;
}

/* Counter */
.counter {
    text-align: center;
    color: #ffffff;
}

.counter span {
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    display: block;
}

.counter small {
    font-weight: 400;
    font-size: 18px;
    opacity: .5;
}

/* Features */
.feature {
    width: 120px;
    height: 120px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    font-size: 42px;
    color: #ffffff;
    margin-bottom: 30px;
    border-radius: 50%;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    border: 10px solid rgba(0, 0, 0, .1);
}

.feature:hover,
.feature:focus {
    color: #ffffff;
    text-decoration: none;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0;
}

.feature .gi,
.feature .hi,
.feature .si,
.feature .fi {
    margin-top: -7px;
}

.site-heading.feature-heading {
    margin-bottom: 10px;
}

.feature-text {
    text-align: left;
    font-size: 16px;
    margin-bottom: 0;
}

/* Portfolio */
.portfolio-item {
    overflow: hidden;
    display: block;
    padding: 30px 15px 15px;
    margin-bottom: 30px;
    color: #ffffff;
    position: relative;
}

a.portfolio-item:hover,
a.portfolio-item:focus {
    color: #ffffff;
    text-decoration: none;
    opacity: .9;
    -webkit-box-shadow: inset 0 -5px rgba(0, 0, 0, .25);
    box-shadow: inset 0 -5px rgba(0, 0, 0, .25);
}

.portfolio-item .portfolio-item-img-left {
    position: relative;
    left: -15px;
}

.portfolio-item .portfolio-item-img-right {
    position: relative;
    right: -15px;
}

.portfolio-item-icon {
    text-align: center;
    font-size: 70px;
    line-height: 70px;
    height: 70px;
    margin-bottom: 39px;
}

.portfolio-item-icon .gi,
.portfolio-item-icon .hi,
.portfolio-item-icon .si,
.portfolio-item-icon .fi {
    margin-top: -15px;
}

/* Posts */
.post {
    display: block;
    padding: 15px 15px 1px 15px;
    background-color: #f7f7f7;
    color: #454e59;
}

a.post:hover,
a.post:focus {
    color: #454e59;
    background-color: #f9f9f9;
    text-decoration: none;
    -webkit-box-shadow: inset 0 -5px rgba(0, 0, 0, .25);
    box-shadow: inset 0 -5px rgba(0, 0, 0, .25);
}

.post-image {
    overflow: hidden;
    height: 180px;
    margin: -15px -15px 20px -15px;
}

.post-image img {
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
}

a.post:hover .post-image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Gallery */
a[data-toggle="lightbox-image"] img {
    max-width: 100%;
}

a[data-toggle="lightbox-image"] {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

a[data-toggle="lightbox-image"]:hover img {
    opacity: .75;
}

/* Row Items */
.row-items > div {
    margin-bottom: 49px;
}

.row-items-push > div {
    margin-bottom: 79px;
}

/* Scroll to top link */
#to-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 10px;
    border-radius: 3px;
    padding: 4px 10px;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    opacity: .05;
}

#to-top:hover {
    color: #ffffff;
    background-color: #ff0000;
    text-decoration: none;
    opacity: 1;
}

/*
=================================================================
(#m04bos) BOOTSTRAP OVERWRITE/EXTEND STYLES
=================================================================
*/

/* Typography */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small,
h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small,
.h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    font-weight: 300;
    color: #999999;
}

h1, h2, h3 {
    margin-bottom: 15px;
}

.text-primary,
.text-primary:hover,
a,
a:hover,
a:focus,
a.text-primary,
a.text-primary:hover,
a.text-primary:focus {
    color: #ff0000;
}

.text-danger,
.text-danger:hover,
a.text-danger,
a.text-danger:hover,
a.text-danger:focus {
    color: #de815c;
}

.text-warning,
.text-warning:hover,
a.text-warning,
a.text-warning:hover,
a.text-warning:focus {
    color: #deb25c;
}

.text-success,
.text-success:hover,
a.text-success,
a.text-success:hover,
a.text-success:focus {
    color: #afde5c;
}

.text-info,
.text-info:hover,
a.text-info,
a.text-info:hover,
a.text-info:focus {
    color: #5cafde;
}

.text-muted,
.text-muted:hover,
a.text-muted,
a.text-muted:hover,
a.text-muted:focus {
    color: #999999;
}

.text-light,
.text-light:hover,
a.text-light,
a.text-light:hover,
a.text-light:focus {
    color: #ffffff;
}

.text-dark,
.text-dark:hover,
a.text-dark,
a.text-dark:hover,
a.text-dark:focus {
    color: #454e59;
}

.text-black,
.text-black:hover,
a.text-black,
a.text-black:hover,
a.text-black:focus {
    color: #000000;
}

.text-light-op,
.text-light-op:hover,
a.text-light-op,
a.text-light-op:hover,
a.text-light-op:focus {
    color: rgba(255, 255, 255, .6);
}

.text-dark-op,
.text-dark-op:hover,
a.text-dark-op,
a.text-dark-op:hover,
a.text-dark-op:focus {
    color: rgba(0, 0, 0, .4);
}

strong, b {
    font-weight: 600;
}

p {
    line-height: 1.7;
}

article p {
    font-size: 16px;
}

ul.ul-breath li {
    margin-bottom: 7px;
}

blockquote {
    margin: 20px 0;
    padding: 10px;
    position: relative;
    width: 100%;
    border-left: none;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-family: serif;
    font-size: 96px;
    position: absolute;
    right: 0;
    top: -30px;
    color: #000000;
    opacity: .15;
}

blockquote.pull-right:before {
    left: 10px;
    right: auto;
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
    content: '';
}

/* Tables */
.table.table-vcenter th,
.table.table-vcenter td {
    vertical-align: middle;
}

.table thead > tr > th {
    font-size: 18px;
    font-weight: 600;
}

.table thead > tr > th > small {
    font-weight: 400;
    font-size: 75%;
}

.table thead > tr > th,
.table thead > tr > td,
.table tfoot > tr > th,
.table tfoot > tr > td {
    padding-top: 15px;
    padding-bottom: 15px;
}

.table tbody > tr > th,
.table tbody > tr > td {
    padding-top: 8px;
    padding-bottom: 8px;
}

.table.table-condensed tbody > tr > th,
.table.table-condensed tbody > tr > td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.table tfoot > tr > th,
.table tfoot > tr > td {
    background-color: #f9f9f9;
}

.table-borderless tbody > tr > th,
.table-borderless tbody > tr > td {
    border-top-width: 0;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td,
.table tbody + tbody,
.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border-color: #ebeef2;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #ebeef2;
}

.td-label {
    border-left-width: 3px;
    border-left-style: solid;
}

.td-label-danger {
    border-left-color: #de815c !important;
}

.td-label-warning {
    border-left-color: #deb25c !important;
}

.td-label-info {
    border-left-color: #5cafde !important;
}

.td-label-success {
    border-left-color: #afde5c !important;
}

.td-label-muted {
    border-left-color: #cccccc !important;
}

.table.table-pricing {
    background-color: #ffffff;
    text-align: center;
    border: 2px solid #ffffff;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.table.table-pricing.table-featured,
.table.table-pricing:hover {
    border-color: #ff0000;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.table.table-pricing.table-pricing-nohover:hover {
    border-color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.table.table-pricing th {
    text-align: center;
    background-color: #ff0000;
    border-bottom: none;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.table.table-pricing td {
    padding-top: 12px;
    padding-bottom: 12px;
}

/* List Group */
.list-group-item {
    border-color: #ebeef2;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    background-color: #ff0000;
    border-color: #ff0000;
}

a.list-group-item.active .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text {
    color: #ffffff;
}

a.list-group-item:hover,
a.list-group-item:focus {
    background-color: #f9f9f9;
}

a.list-group-item.active > .badge {
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
}

/* Forms */
fieldset legend {
    font-size: 18px;
    padding: 30px 0 10px;
    border-bottom: 2px solid #ebeef2;
}

input[type="file"] {
    padding-top: 7px;
}

input[type="text"].form-control,
input[type="password"].form-control,
input[type="email"].form-control,
textarea.form-control {
    -webkit-appearance: none;
}

.form-control {
    max-width: 100%;
    margin: 1px 0;
    color: #454e59;
    border-color: #dae0e8;
    border-radius: 3px;
}

input[type="text"].form-control.input-lg,
input[type="password"].form-control.input-lg,
input[type="email"].form-control.input-lg {
    height: 45px;
}

.input-group {
    margin-top: 1px;
    margin-bottom: 1px;
}

.input-group .form-control {
    margin-top: 0;
}

.form-control:focus {
    border-color: #ff0000;
}

.help-block {
    margin-top: 8px;
    color: #999999;
    font-weight: 400;
    font-style: italic;
}

.input-group-addon {
    min-width: 45px;
    text-align: center;
    background-color: #ffffff;
    border-color: #dae0e8;
}

.form-horizontal .control-label {
    margin-bottom: 5px;
}

.form-horizontal .control-label-fixed {
    padding-top: 5px;
    margin-bottom: 5px;
}

.form-bordered {
    margin: -15px -15px -1px;
}

.modal-body .form-bordered {
    margin-bottom: -20px;
}

.form-bordered fieldset legend {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.form-bordered .form-group {
    margin: 0;
    border: none;
    padding: 15px;
    border-bottom: 1px dotted #ebeef2;
}

.form-bordered .form-group.form-actions {
    background-color: #f9f9f9;
    border-bottom: none;
}

.form-horizontal.form-bordered .form-group {
    padding-left: 0;
    padding-right: 0;
}

.form-bordered .help-block {
    margin-bottom: 0;
}

.has-success .form-control,
.has-warning .form-control,
.has-error .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .help-block,
.has-success .control-label,
.has-success .input-group-addon,
.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .radio,
.has-success .radio-inline {
    color: #afde5c;
}

.has-success .form-control,
.has-success .input-group-addon {
    border-color: #afde5c;
    background-color: #ffffff;
}

.has-success .form-control:focus {
    border-color: #7fb364;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .input-group-addon,
.has-warning .checkbox,
.has-warning .checkbox-inline,
.has-warning .radio,
.has-warning .radio-inline {
    color: #deb25c;
}

.has-warning .form-control,
.has-warning .input-group-addon {
    border-color: #deb25c;
    background-color: #ffffff;
}

.has-warning .form-control:focus {
    border-color: #e58f5a;
}

.has-error .help-block,
.has-error .control-label,
.has-error .input-group-addon,
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .radio,
.has-error .radio-inline {
    color: #de815c;
}

.has-error .form-control,
.has-error .input-group-addon {
    border-color: #de815c;
    background-color: #ffffff;
}

.has-error .form-control:focus {
    border-color: #cc7872;
}

.form-control.form-control-borderless,
.form-control.form-control-borderless:focus {
    border: none;
}

/* Form Select Switches */
.switch {
    margin: 1px 0;
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.switch input {
    position: absolute;
    opacity: 0;
}

.switch span {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    border-radius: 14px;
    background: rgba(0, 0, 0, .2);
    -webkit-transition: background-color .75s;
    transition: background-color .75s;
}

.switch span:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    width: 24px;
    background-color: #ffffff;
    border-radius: 12px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.switch input:checked + span:after {
    left: 27px;
    width: 24px;
    top: 2px;
    bottom: 2px;
}

.switch input:checked + span {
    background-color: #eeeeee;
}

.switch-default input:checked + span {
    background-color: #dae0e8;
}

.switch-warning input:checked + span {
    background-color: #deb25c;
}

.switch-danger input:checked + span {
    background-color: #de815c;
}

.switch-info input:checked + span {
    background-color: #5cafde;
}

.switch-success input:checked + span {
    background-color: #afde5c;
}

.switch-primary input:checked + span {
    background-color: #ff0000;
}

/* Form CSS Checkboxes */
.csscheckbox {
    margin: 1px 0;
    padding: 7px 0;
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.csscheckbox input {
    position: absolute;
    opacity: 0;
}

.csscheckbox span {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: rgba(250, 250, 250, .25);
    border: 1px solid #dae0e8;
}

.csscheckbox span:hover {
    background: rgba(250, 250, 250, .75);
}

.csscheckbox span:after {
    content: "";
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    opacity: 0;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    -webkit-transform: scale(.5);
    transform: scale(.5);
}

.csscheckbox input:checked + span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.csscheckbox input:checked + span:after {
    background-color: #eeeeee;
}

.csscheckbox-default input:checked + span:after {
    background-color: #dae0e8;
}

.csscheckbox-warning input:checked + span:after {
    background-color: #deb25c;
}

.csscheckbox-danger input:checked + span:after {
    background-color: #de815c;
}

.csscheckbox-info input:checked + span:after {
    background-color: #5cafde;
}

.csscheckbox-success input:checked + span:after {
    background-color: #afde5c;
}

.csscheckbox-primary input:checked + span:after {
    background-color: #ff0000;
}

/* Modals */
.modal-content {
    border: none;
}

.modal-header,
.modal-header-tabs {
    padding: 17px 15px 15px;
    border-bottom: none;
    background-color: #f9f9f9;
}

.modal-header-tabs .nav-tabs {
    margin: 0 -15px -15px;
}

.modal-title {
    font-weight: 300;
}

.modal-body {
    padding: 20px 15px;
}

.modal-footer {
    margin-top: 0;
    padding: 9px 15px 10px;
    border-top: none;
    background-color: #f9f9f9;
}

.modal.fade .modal-dialog {
    opacity: 0;
    -webkit-transition: all .45s ease-out;
    transition: all .45s ease-out;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: scale(.6);
    transform: scale(.6);
}

.modal.in .modal-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.modal-backdrop.in {
    opacity: .75;
}

/* Buttons */
.btn {
    margin: 1px 0;
    background-color: #ffffff;
    border-radius: 3px;
}

.btn.btn-rounded {
    border-radius: 20px;
}

.btn.btn-square {
    border-radius: 0;
}

.btn-ripple {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .5);
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.btn-ripple.animate {
    -webkit-animation: ripple 1s ease-out;
    animation: ripple 1s ease-out;
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(3);
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
}

.btn .gi,
.btn .hi,
.btn .si,
.btn .fi {
    line-height: 1;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    opacity: .4;
}

.block-options .btn,
.input-group .btn,
.modal-content .btn {
    margin-top: 0;
    margin-bottom: 0;
}

.btn-default {
    background-color: #eeeeee;
    border-color: #eeeeee;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default.active,
.btn-default.active:hover,
.btn-default.active:focus,
.open .btn-default.dropdown-toggle,
.open .btn-default.dropdown-toggle:hover,
.open .btn-default.dropdown-toggle:focus,
.open .btn-default.dropdown-toggle.focus {
    background-color: #dddddd;
    border-color: #dddddd;
}

.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled].active,
.btn-default[disabled]:active:focus,
.btn-default[disabled].active:focus,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active,
fieldset[disabled] .btn-default:active:focus,
fieldset[disabled] .btn-default.active:focus {
    background-color: #eeeeee;
    border-color: #eeeeee;
}

.btn-primary {
    background-color: #ff0000;
    border-color: #ff0000;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary.active,
.btn-primary.active:hover,
.btn-primary.active:focus,
.open .btn-primary.dropdown-toggle,
.open .btn-primary.dropdown-toggle:hover,
.open .btn-primary.dropdown-toggle:focus,
.open .btn-primary.dropdown-toggle.focus {
    background-color: #02aac4;
    border-color: #02aac4;
    color: #ffffff !important;
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
.btn-primary[disabled]:active:focus,
.btn-primary[disabled].active:focus,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active:focus,
fieldset[disabled] .btn-primary.active:focus {
    background-color: #ff0000;
    border-color: #ff0000;
}

.btn-danger {
    background-color: #de815c;
    border-color: #de815c;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger:active:hover,
.btn-danger:active:focus,
.btn-danger.active,
.btn-danger.active:hover,
.btn-danger.active:focus,
.open .btn-danger.dropdown-toggle,
.open .btn-danger.dropdown-toggle:hover,
.open .btn-danger.dropdown-toggle:focus,
.open .btn-danger.dropdown-toggle.focus {
    background-color: #c43902;
    border-color: #c43902;
    color: #ffffff !important;
}

.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled].focus,
.btn-danger[disabled]:active,
.btn-danger[disabled].active,
.btn-danger[disabled]:active:focus,
.btn-danger[disabled].active:focus,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger.focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active,
fieldset[disabled] .btn-danger:active:focus,
fieldset[disabled] .btn-danger.active:focus {
    background-color: #de815c;
    border-color: #de815c;
}

.btn-warning {
    background-color: #deb25c;
    border-color: #deb25c;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:active:hover,
.btn-warning:active:focus,
.btn-warning.active,
.btn-warning.active:hover,
.btn-warning.active:focus,
.open .btn-warning.dropdown-toggle,
.open .btn-warning.dropdown-toggle:hover,
.open .btn-warning.dropdown-toggle:focus,
.open .btn-warning.dropdown-toggle.focus {
    background-color: #de9502;
    border-color: #de9502;
    color: #ffffff !important;
}

.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled].focus,
.btn-warning[disabled]:active,
.btn-warning[disabled].active,
.btn-warning[disabled]:active:focus,
.btn-warning[disabled].active:focus,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning.focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active,
fieldset[disabled] .btn-warning:active:focus,
fieldset[disabled] .btn-warning.active:focus {
    background-color: #c48402;
    border-color: #c48402;
}

.btn-success {
    background-color: #afde5c;
    border-color: #afde5c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success:active:hover,
.btn-success:active:focus,
.btn-success.active,
.btn-success.active:hover,
.btn-success.active:focus,
.open .btn-success.dropdown-toggle,
.open .btn-success.dropdown-toggle:hover,
.open .btn-success.dropdown-toggle:focus,
.open .btn-success.dropdown-toggle.focus {
    background-color: #7dc402;
    border-color: #7dc402;
    color: #ffffff !important;
}

.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled].focus,
.btn-success[disabled]:active,
.btn-success[disabled].active,
.btn-success[disabled]:active:focus,
.btn-success[disabled].active:focus,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success.focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active,
fieldset[disabled] .btn-success:active:focus,
fieldset[disabled] .btn-success.active:focus {
    background-color: #afde5c;
    border-color: #afde5c;
}

.btn-info {
    background-color: #5cafde;
    border-color: #5cafde;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info:active:hover,
.btn-info:active:focus,
.btn-info.active,
.btn-info.active:hover,
.btn-info.active:focus,
.open .btn-info.dropdown-toggle,
.open .btn-info.dropdown-toggle:hover,
.open .btn-info.dropdown-toggle:focus,
.open .btn-info.dropdown-toggle.focus {
    background-color: #027dc4;
    border-color: #027dc4;
    color: #ffffff !important;
}

.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled].focus,
.btn-info[disabled]:active,
.btn-info[disabled].active,
.btn-info[disabled]:active:focus,
.btn-info[disabled].active:focus,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info.focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active,
fieldset[disabled] .btn-info:active:focus,
fieldset[disabled] .btn-info.active:focus {
    background-color: #5cafde;
    border-color: #5cafde;
}

.btn-link,
.btn-link:hover,
.btn-link:focus {
    color: #ff0000;
}

/* Labels, Badges */
.label,
.badge {
    font-weight: normal;
    font-size: 90%;
}

.label {
    padding: 1px 4px;
}

.badge {
    background: rgba(0, 0, 0, .3);
    padding: 3px 6px;
}

.label-danger,
.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #de815c;
}

.label-warning,
.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #deb25c;
}

.label-success,
.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #afde5c;
}

.label-info,
.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #5cafde;
}

.label-primary,
.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #ff0000;
}

.label-default,
.label-default[href]:hover,
.label-default[href]:focus {
    background-color: #999999;
}

.label-danger[href]:hover,
.label-danger[href]:focus,
.label-warning[href]:hover,
.label-warning[href]:focus,
.label-success[href]:hover,
.label-success[href]:focus,
.label-info[href]:hover,
.label-info[href]:focus,
.label-primary[href]:hover,
.label-primary[href]:focus,
.label-default[href]:hover,
.label-default[href]:focus {
    opacity: .75;
}

/* Carousel */
.carousel-control {
    max-width: 50px;
}

.carousel-control.left,
.carousel-control.right {
    background: none;
    opacity: 0;
    filter: none;
}

.carousel:hover .carousel-control.left,
.carousel:hover .carousel-control.right {
    opacity: 1;
}

.carousel-control.left:hover,
.carousel-control.right:hover {
    background: rgba(0, 0, 0, .2);
}

.carousel-control span {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    display: inline-block;
}

.carousel-control i {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
}

.carousel-indicators,
.carousel-caption {
    bottom: -5px;
}

.carousel-indicators li {
    border-color: #cccccc;
}

.carousel-indicators li.active {
    background-color: #cccccc;
}

.carousel-caption {
    text-shadow: 0 5px 15px #000000;
}

/* Nav */
.nav-pills > li > a {
    color: #454e59;
    border-radius: 3px;
}

.nav-pills i.icon-push {
    margin-right: 8px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    color: #ffffff;
    background-color: #ff0000;
}

.nav > li i {
    font-size: 14px;
}

.nav-pills > .active > a > .badge {
    color: #ff0000;
}

.nav-pills.nav-icons > li.active > a i,
.nav-pills.nav-icons > li.active > a:hover i,
.nav-pills.nav-icons > li.active > a:focus i {
    color: #ffffff;
}

.nav-stacked > li > a {
    margin: 4px 0 0;
}

.nav .caret,
.nav a:hover .caret,
.nav a:focus .caret {
    border-top-color: #ff0000;
    border-bottom-color: #ff0000;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #f9f9f9;
}

.nav-tabs {
    border-bottom-color: #ebeef2;
}

.nav-tabs > li {
    margin-bottom: 0;
}

.nav-tabs > li > a {
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: -1px;
    font-weight: 500;
    color: #454e59;
}

.nav-tabs > li > a:hover {
    border-color: #ebeef2;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #454e59;
    border-color: #ebeef2;
    border-bottom-color: transparent;
}

.nav-pills > li.active > a > .badge {
    background: rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.dropdown-menu {
    min-width: 180px;
    padding: 0;
    font-size: 14px;
    border-color: #dae0e8;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    display: block;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.dropdown-menu.dropdown-menu-right {
    -webkit-transform-origin: top right;
    transform-origin: top right;
}

.dropup .dropdown-menu {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

.dropup .dropdown-menu.dropdown-menu-right {
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
}

.open > .dropdown-menu,
.dropdown-menu.open {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.lt-ie10 .dropdown-menu {
    display: none;
}

.lt-ie10 .open > .dropdown-menu,
.lt-ie10 .dropdown-menu.open {
    display: block;
}

.dropdown-menu > li > a {
    padding: 8px 10px;
}

.dropdown-menu i {
    opacity: 0.2;
    line-height: 17px;
}

.dropdown-menu a:hover i {
    opacity: 0.5;
}

.dropdown-menu .divider {
    margin: 3px 0;
    padding: 0 !important;
    background-color: #f0f0f0;
}

li.dropdown-header {
    padding: 8px 10px;
    color: #454e59;
    background-color: #ebeef2;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -3px;
    margin-left: 0;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
}

.collapse.in .dropdown.open .dropdown-menu {
    display: block;
    position: static;
    margin: 0 0 0 15px;
    left: auto;
    top: auto;
}

.pagination > li > a,
.pagination > li > span  {
    font-weight: 500;
    color: #ff0000;
    margin-left: 5px;
    margin-right: 5px;
    border: none !important;
    border-radius: 3px !important;
    background: transparent;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #ff0000;
}

.pagination > .disabled >span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    background: transparent;
}

.pager > li > a,
.pager > li > span {
    border-color: #ebeef2;
}

.pager > li > a:hover,
.pagination > li > a:hover {
    background-color: #ff0000;
    border-color: #ff0000;
    color: #ffffff;
}

.pager > li.disabled > a:hover {
    border-color: #ebeef2;
}

/* Popover */
.popover {
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
}

.popover-title {
    background: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding-top: 7px;
    padding-bottom: 2px;
}

/* Tooltip */
.tooltip {
    z-index: 1051;
}

.tooltip.in {
    opacity: 1;
}

.tooltip-inner {
    padding: 4px 6px;
    background-color: #000000;
    color: #ffffff;
}

.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
    border-top-color: #000000;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #000000;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #000000;
}

.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #000000;
}

/* Breadcrumps */
.breadcrumb {
    background-color: transparent;
}

.breadcrumb i {
    font-size: 14px;
}

.breadcrumb-top {
    font-size: 12px;
    text-align: right;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 7px;
}

/* Alerts */
.alert {
    color: #ffffff;
    border-width: 0;
    border-radius: 3px;
}

.alert .alert-link {
    color: #000000;
    opacity: .4;
}

.alert-danger {
    background-color: #de815c;
}

.alert-warning {
    background-color: #deb25c;
}

.alert-success {
    background-color: #afde5c;
}

.alert-info {
    background-color: #5cafde;
}

.alert-dismissable .close {
    top: -8px;
    right: -26px;
    color: #000000;
}

.close {
    opacity: .25;
    text-shadow: none;
}

.close:hover,
.close:focus {
    opacity: .5;
}

/* Thumbnail */
.img-thumbnail-transparent {
    background-color: rgba(255, 255, 255, .25);
    border-color: transparent;
}

.img-thumbnail-avatar {
    width: 69px !important;
    height: 69px !important;
}

.img-thumbnail-avatar-2x {
    width: 133px !important;
    height: 133px !important;
}

/* Bottom Margin */
p, .table, .alert, .carousel {
    margin-bottom: 20px;
}

/* Removing shadows and radius */
.navbar-form,
.navbar-collapse,
.form-control,
.form-control:focus,
.has-success .form-control:focus,
.has-warning .form-control:focus,
.has-error .form-control:focus,
.progress,
.progress-bar,
.panel,
.modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*
=================================================================
(#m05hes) HELPERS
=================================================================
*/

.border-top {
    border-top: 1px solid #eeeeee;
}

.border-right {
    border-right: 1px solid #eeeeee;
}

.border-bottom {
    border-bottom: 1px solid #eeeeee;
}

.border-left {
    border-left: 1px solid #eeeeee;
}

.push-bit {
    margin-bottom: 30px;
}

.push {
    margin-bottom: 49px;
}

.push-top {
    margin-top: 49px;
}

.push-top-bottom {
    margin-top: 49px;
    margin-bottom: 49px;
}

.push-right {
    margin-right: 20px;
}

.push-left {
    margin-left: 15px;
}

.push-right-left {
    margin-left: 10px;
    margin-right: 10px;
}

.remove-margin {
    margin-bottom: 0;
}

.display-none {
    display: none;
}

.visibility-none {
    visibility: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

.placeholder {
    color: #999;
}

:focus {
    outline: 0 !important;
}

/*
=================================================================
(#m06ths) THEMES
=================================================================
*/

/* Default Color Theme specific colors */
.themed-color {
    color: #ff0000 !important;
}

.themed-background {
    background-color: #ff0000 !important;
}

.themed-color-dark {
    color: #454e59 !important;
}

.themed-background-dark {
    background-color: #252525 !important;
}

/* Contextual Background Colors */
.themed-background-danger {
    background-color: #de815c !important;
}

.themed-background-warning {
    background-color: #deb25c !important;
}

.themed-background-info {
    background-color: #5cafde !important;
}

.themed-background-success {
    background-color: #afde5c !important;
}

.themed-background-muted {
    background-color: #f9f9f9 !important;
}

/*
=================================================================
(#m07res) RESPONSIVE
=================================================================
*/

/* Small devices, Tablets (>767px) */
@media screen and (min-width: 768px) {

    /* Forms */
    .form-bordered {
        margin-left: -20px;
        margin-right: -20px;
    }

    .form-bordered .form-group {
        padding-left: 20px;
        padding-right: 20px;
    }

    .form-horizontal.form-bordered .form-group {
        padding-left: 5px;
        padding-right: 5px;
    }

    /* Tabs */
    .nav-tabs > li > a {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 3px;
        margin-right: 3px;
    }
}

/* Medium devices, Desktops (>991px) */
@media screen and (min-width: 992px) {

    /* Header */
    header {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    /* Menu */
    .site-nav {
        position: static;
        top: auto;
        right: auto;
        bottom: auto;
        overflow-y: visible;
        margin-top: 3px;
        width: auto;
        background: transparent;
        z-index: auto;
        padding-top: 0;
        -webkit-transition: none;
        transition: none;
    }

    .site-nav.site-nav-visible {
        -webkit-transform: none;
        transform: none;
    }

    .site-nav li {
        float: left;
        padding: 0;
        margin-left: 12px;
        position: relative;
    }

    .site-nav a {
        margin: 0;
        padding: 0 15px;
        height: 34px;
        line-height: 34px;
        border-radius: 4px;
    }

    .site-nav a.site-nav-sub {
        padding-right: 30px;
    }

    .site-nav li:hover > a.site-nav-sub {
        text-decoration: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .site-nav i.site-nav-arrow {
        margin: 0 -20px 0 0;
    }

    /* Header Scroll */
    header.header-scroll .site-nav {
        margin-top: 0;
    }

    header.header-scroll .site-nav > li > a {
        border-radius: 0;
        height: 42px;
        line-height: 42px;
    }

    header.header-scroll .site-nav-arrow {
        line-height: 42px;
    }

    header.header-scroll .site-nav ul {
        top: 42px;
        background-color: #4599a6;
        border-top-right-radius: 0;
    }

    header.header-scroll .site-nav li:last-child ul {
        border-top-left-radius: 0;
    }

    /* Submenu */
    .site-nav li:hover > ul {
        display: block;
    }

    .site-nav ul {
        display: none;
        position: absolute;
        left: 0;
        top: 34px;
        padding: 2px 0;
        min-width: 180px;
        background: #3b4149;
        border-radius: 4px;
        border-top-left-radius: 0;
    }

    .site-nav li:last-child ul {
        left: auto;
        right: 0;
        border-radius: 4px;
        border-top-right-radius: 0;
    }

    .site-nav ul li {
        float: none;
        margin: 0;
        padding: 1px 5px 3px;
    }

    .site-nav ul a.active,
    .site-nav ul a.active:hover {
        background-color: #282d33;
    }
}

/* Large devices, Desktops (>1199px) */
@media screen and (min-width: 1200px) {

    /* General */
    article p {
        font-size: 18px;
        line-height: 1.8;
    }
}

